@charset "utg-8";
/* vidintro 모듈용 CSS - vidintro.css */

.vidbox{
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 24px;
    display: flex;
    font-family: 'Roboto Condensed';
}

/* 클래스 "on"적용 시 배경색, 글자색 변경적용 */
.vidbox.on{
    background-color: #0074E8;
    color: #fff;
}
.vidbox.on a{
    color: #fff;
}
/* 비디오파트 박스 */
.vd1{
    width: 55%;
    aspect-ratio: 4/3;
}

.vidbox iframe{
    padding: 10px;
    border: none;

}
.vidTit{
    
    width: 100%;
    text-align: left;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vidTit h3{
    line-height: 1.7;
    margin-top: 16px;
    margin-bottom: 8px;
}
.vidTit h2{
    margin-top: 16px;
    margin-bottom: 8px;
}
.vidTit p{
    opacity: .87;
    font-size: 16px;
}
.vidTit p a{
    color: #000;
}
.vidTit p a:hover{
    color: #0074e8;
}
.vidsum{
    margin-bottom: 16px;
}

@media (max-width:1000px) {
    .vidbox{
        flex-direction: column;
    }
    .vidbox>div{
        width: 80%;
    }
}